/* HO TENTATO DI RENDERE RESPONSIVE SIA L'IMMAGINE CHE IL FONT.
(PER QUANTO RIGUARDA IL FONT ANCORA DEVO TROVARE LE GIUSTE MISURE
E CAPIRE BENE COME RAPPORTARMI) */

/* **** FONT RULES **** */
body {
  font-size: 16px;
}
.title {
  font-size: 1.5rem;
}

p {
  font-size: 1.5em;
}

a {
  font-size: 0.8em;
}
/* **** MAIN **** */

main {
  display: flex;
  justify-content: center;
}

/* **** HEADER **** */

article {
  border: 1px solid rgb(201, 200, 200);
  border-radius: 5px;
}

img {
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
}

/* **** TITLE AND ITEMS SECTION **** */

.titlesection,
section,
a {
  padding: 15px;
  padding: 10px;
}
section {
  border-top: 1px solid rgb(201, 200, 200);
  border-bottom: 1px solid rgb(201, 200, 200);
  padding: 10px;
}

.item {
  display: flex;
  align-items: center;
  max-height: 25px;
}

/* **** FOOTER ***** */
footer {
  display: flex;
  align-items: center;
  min-height: 50px;
}

@media screen and (min-width: 700px) {
  .title {
    font-size: 2.1rem;
  }

  p {
    font-size: 2.1em;
  }

  a {
    font-size: 1em;
  }
}
